Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: java8-jdk
Suggests: mariadb-server
Maintainer: Jens Reimann <ctron@dentrassi.de>
Description: Package Drone software artifact repository
Distribution: development